{
    "printWidth": 120,
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": true,
    "plugins": ["prettier-plugin-jsdoc"],

    "jsdocCommentLineStrategy": "multiline",
    "jsdocSeparateReturnsFromParam": false,
    "jsdocPreferCodeFences": true,
    "tsdoc": true,
    "jsdocPrintWidth": 120
}
